---
import Container from "@/components/container.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Not Found - Tiktokio">
  <Container>
    <Hero />

    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      
 <section class="flex items-center h-full p-16">
        <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
            <div class="max-w-md text-center">
                <h2 class="mb-8 font-bold text-9xl">
                    <span class="sr-only">Error</span>
                    <span class="text-gray-200">404</span>
                </h2>
                <p class="text-3xl font-semibold md:text-3xl text-gray-200">Sorry, we couldn't find this page.</p>
                <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">But dont worry, you can find plenty of other things on our homepage.</p>
                

              <div class="mt-10 flex items-center justify-center gap-x-2 md:gap-x-6" data-astro-cid-zi4ldr3x="">
                <a href="https://github.com/surjithctly/astroship" rel="noopener" target="_blank" class="rounded-sm text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black  flex gap-1 items-center justify-center"> <svg width="1em" height="1em" class="text-black w-4 h-4" data-icon="bx:bxl-github">   <symbol id="ai:bx:bxl-github" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974c0 4.406 2.857 8.145 6.821 9.465c.499.09.679-.217.679-.481c0-.237-.008-.865-.011-1.696c-2.775.602-3.361-1.338-3.361-1.338c-.452-1.152-1.107-1.459-1.107-1.459c-.905-.619.069-.605.069-.605c1.002.07 1.527 1.028 1.527 1.028c.89 1.524 2.336 1.084 2.902.829c.091-.645.351-1.085.635-1.334c-2.214-.251-4.542-1.107-4.542-4.93c0-1.087.389-1.979 1.024-2.675c-.101-.253-.446-1.268.099-2.64c0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336a9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021c.545 1.372.203 2.387.099 2.64c.64.696 1.024 1.587 1.024 2.675c0 3.833-2.33 4.675-4.552 4.922c.355.308.675.916.675 1.846c0 1.334-.012 2.41-.012 2.737c0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974C22 6.465 17.535 2 12.026 2z" fill="currentColor"></path></symbol><use href="#ai:bx:bxl-github"></use></svg>
GitHub Repo
 </a>
                <a href="https://github.com/zankhq/astros" data-astro-cid-zi4ldr3x="" class="rounded-md text-sm font-semibold transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-4 py-2.5 text-center bg-stone-950 outline-2 dark:bg-gray-100 hover:bg-stone-800 dark:hover:bg-white focus-visible:bg-stone-500 dark:focus-visible:bg-gray-100 text-white dark:text-black border-transparent active:outline shadow-sm"> Download on github </a> 
                <a href="/animated" data-astro-cid-zi4ldr3x="" class="rounded-md text-sm font-semibold transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-4 py-2.5 text-sm font-semibold leading-6 text-gray-800 dark:text-gray-100"> Go to animated version<span aria-hidden="true" class="pl-1 text-black dark:text-white" data-astro-cid-zi4ldr3x=""> → </span>  </a> 
              </div>

            </div>
        </div>
        </section>


    </div>
  </Container>
</Layout>
