---
import Container from "@/components/container.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Not Found - Tiktok Downloader">
  <Container>
    <Hero />

    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      
 <section class="flex items-center h-full p-16">
        <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
            <div class="max-w-md text-center">
                <h2 class="mb-8 font-bold text-9xl">
                    <span class="sr-only">Error</span>
                    <span class="text-gray-200">404</span>
                </h2>
                <p class="text-3xl font-semibold md:text-3xl text-gray-200">Sorry, we couldn't find this page.</p>
                <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">But dont worry, you can find plenty of other things on our homepage.</p>
                

              <div class="mt-10 flex items-center justify-center gap-x-2 md:gap-x-6" data-astro-cid-zi4ldr3x="">
                <a href="/" rel="noopener" target="_blank" class="rounded-sm text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black  flex gap-1 items-center justify-center">Homepage</a>
                     </div>

            </div>
        </div>
        </section>


    </div>
  </Container>
</Layout>
