---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.png";
import Link from "@/components/ui/link.astro";
import CSS from "@public/style.css";
import { Icon } from "astro-icon/components";
---

<main class="relative isolate px-6 pt-10 lg:px-8 pb-28 bg-cyan-400">
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
  </div>
  <div class="mx-auto max-w-screen-xl another">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-black">TikTokio - TikTok Video Downloader</h1>
      <p class="my-2 text-lg leading-8 text-black">Download TikTok Videos in MP3/MP4 & without Watermark</p>
    </div>

    <div class="pageTunerWrapper">
      <div class="pageTunerWrapper__items">
        <div class="pageTunerWrapper__item">
          <a href="/" data-gtag-click="top_panel_video_click"
            ><img
              src="https://newproject-one-nu.vercel.app/images/tiktok-video.svg"
              alt="Tiktok Video Downlaoder"
              width="24"
              height="24"
              loading="lazy"
            /><span class="md:block">Video</span></a
          >
        </div>
        <div class="pageTunerWrapper__item">
          <a
            href="/tiktok-slideshow-downloader"
            data-gtag-click="top_panel_photo_click"
            ><img
              src="https://newproject-one-nu.vercel.app/images/tiktok-photo.svg"
              alt="Download Tiktok Photo and Slideshow"
              width="24"
              height="24"
              loading="lazy"
            /><span class="md:block">Photo</span></a
          >
        </div>
        <div class="pageTunerWrapper__item">
          <a
            href="/tiktok-story-downloader"
            data-gtag-click="top_panel_story_click"
            ><img
              src="https://newproject-one-nu.vercel.app/images/story.svg"
              alt="Toktok Story Downloader"
              width="24"
              height="24"
              loading="lazy"
            /><span class="md:block">Story</span></a
          >
        </div>
        <div class="pageTunerWrapper__item">
          <a
            href="/tiktok-sound-downloader"
            data-gtag-click="top_panel_sound_click"
            ><img
              src="https://newproject-one-nu.vercel.app/images/tiktok-audio.svg"
              alt="Download Tiktok mp3"
              width="24"
              height="24"
              loading="lazy"
            /><span class="md:block">Mp3</span></a
          >
        </div>
      </div>
    </main>
